.productImgPreviewContainer{
   padding-top: 2vh;
    height: 50vh;
}

.productImgPreviewThumb{
    width: 85px;
    height: 85px;
    border-right: 1px solid rgba(75, 75, 75, 0.253);
}

.productImgPreviewThumb img{
    width:75px;
    height:75px;
}

.productImgPreview{
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImgPreview img{
    width: 15rem;
    height: 17rem;
}

.actions{
    display: flex;
    justify-content: space-around;
}